# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Build artifacts
**/build/
**/.dart_tool/
**/.gradle/
**/.idea/
**/*.iml
**/*.ipr
**/*.iws

# Android cache
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/.externalNativeBuild
android/.cxx/
android/**/build/

# iOS cache
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# Pub cache
.packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Archivos de documentación de progreso (no subir)
FASE3_Y_4_COMPLETADAS.md
SECCION_C_COMPLETADA.md
SECCION_D_COMPLETADA.md
SECCION_E_COMPLETADA.md
